@import '../../styles/designMixins';
@import '../../styles/variables';

.popularEvents {
    @include section-design;

    &__headerFilters {
        @include flex-row(20px);
        align-items: center;
    }

    &__section-title {
        @include section-title;
        @include flex-row;
        justify-content: space-between;
        align-items: center;
    }

    &__sortBy {
        @include flex-row(10px);
        align-items: center;
        font-weight: bold;
        float: right;
        font-size: $small-text;
    }

    
    
    &__Box {
        @include flex-row(41px);
        flex-wrap: wrap;
        margin-top: 3.125rem;
    }

    @media screen and (max-width: 1000px) {
        &__section-title {
            @include flex-col;
            align-items: flex-start;
        }

        &__headerFilters {

            width: 100%;
            justify-content: flex-end;
            float: right;
            margin-top: 1rem;
        }
    }

}
