@import '../../styles/designMixins';
@import '../../styles/variables';

.popularEvents {
    @include section-design;

    &_section-title {
        @include section-title;
        @include flex-row;
        justify-content: space-between;
    }

    &__sortBy {
        @include flex-row(10px);
        align-items: center;
        font-weight: bold;
        float: right;
        font-size: $small-text;
    }
}
