@import '../../styles/designMixins';
@import '../../styles/variables';

.dropdownComponent {
    width: 100%;
    >* {
        width: 100%;
        text-align: left;
    }
}


#dropdown-basic {
    @include normal-input;
    background-color: transparent;
    color: $light-text;
}