$primary-padding-web: 5vw;
$common-margin-top: 3.125rem;
$event-padding-inline: 9.375rem;
$event-padding-block: 2.5rem;

$event-padding-inline-vw: 15vw;

$common-breakup-point: 800px;

$section-margin-top: 5rem;
$form-segment-gap: 5.625rem;
$form-segment-inside-gap: 2rem;
$form-input-gap: 1.25rem;

// fonts families
$font-family-primary: 'Poppins', sans-serif;
$font-family-secondary: 'Montserrat', sans-serif;

// colors
$light-text: #6F6F6F;
$white-text: #FFFFFF;
$dark-text: #2B293D;
$light-border: rgba(130, 130, 130, 0.7);

$primary-color: #2B293D;
$secondary-color: #FFE047;
$tertiary-color: #5A5A5A;
$loading-color: #EEEEEE;
$background-color: #FFFFFF;

// font sizes
$big-title: 3rem;
$section-title: 2.5rem;
$medium-title: 2.0625rem;
$small-title: 1.5rem;
$small-text: 1.375rem;

// heights
$section-height: 75rem;